@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed&display=swap');

/* Fuentes */
.fontText{
  font-family: 'Roboto Condensed', sans-serif;
}
.fontTitle{
  font-family: 'Press Start 2P', cursive;
}
.fontColor{
  color: #0065a3;
}
.fontColor:hover{
  color: white;
}

/* fondos de colores */

.bg-nav{
  background-color: #f7f3cf;
}
.bg-foot{
  background-color: #176585;
}
#bg-index{
  background-color: #00a0b0;
}
#bg-about{
  background-color: #c2e4cb;
}
/* imagen */
.box-img{
  height: 20rem;
  width: 20rem;
}

/* .ft-position{
  position: absolute;
  bottom: 0;
  width: 100%;
} */