@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Condensed&display=swap');

.fontText{
  font-family: 'Roboto Condensed', sans-serif;
}
.fontTitle{
  font-family: 'Press Start 2P', cursive;
}

body{
  background: #D6EAF8 ;
}

.bg-nav{
  background-color: #e7008a;
  border-bottom: 1px solid #ff74da;
}

.box-mv{
  width: 300px;
  height: 100px;
  background-color: #FDEBD0;

}
